#AllanboltSignature
{ 
border-top: #e0e0e0 1px dashed;
border-right: #e0e0e0 1px dashed;
border-bottom: #e0e0e0 1px dashed;
border-left: #e0e0e0 1px dashed;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 60px;
font-family: 微软雅黑;
font-size:11px;
background: url(http://images.cnblogs.com/cnblogs_com/hnrainll/283143/r_tu.png) #e5f1f4 no-repeat 1% 50%;

}
#AllanboltSignature div
{
line-height: 25px;
}